{% extends 'base.html' %}

{% block head %}
<title>Set New Password </title>
{% endblock %}

{% block body %}

    <div class="container">
         <h1> Set New Password </h1>
        {% if validlink %}
         <form method="post">

            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit"> Reset Password </button>
         </form>
        {% else %}
        <p style="color:red;"> Invalid token</p>
        <a href="{% url 'password_reset' %}"> Request a new password reset token </a>

        {% endif %}

    </div>


{% endblock %}