<html lang="en">



    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">



        {% block head %}
            <title>Base</title>
        {% endblock %}


    </head>


    <body>
<br>
        <div class="container">
            <nav class="navbar navbar-default"> <nav class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only"> </span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ice Cube</a>
              </div>
            </nav>
            </nav>



  <nav class="navbar nav-bar-default">
    <div class="container-fluid">

                <div id="navbar" class="navber-collapse collapse">
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav" >
                        <li> <a href="/account" > Home </a>
                        </li>
                    </ul>
                      <ul class="nav navbar-nav navbar-left">


                          <li> <a href="/account/profile"> Profile </a> </li>
                          <li> <a href="/account/profile/edit"> Edit Profile </a> </li>
                          <li> <a href="/account/change_password"> Change Password </a> </li>
                          <li> <a href="/account/password_reset"> Reset Password </a> </li>
                          <li> <a href="/account/logged_out"> Logout </a> </li>

                      </ul>

                    {% else %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account/register/">Register</a> </li>
                          <li> <a href="/account/login"> Login </a> </li>

                      </ul>
                    {% endif %}
                 </div>
            </div>
</nav>



        {% block body %}
            <h1> Base in yo face </h1>
        {% endblock %}


    </body>
</html>

